<div class="flex flex-col items-center justify-center py-64 bg-gradient-to-br from-light-peach to-cream">
  <h1 class="font-bold text-7xl text-warm-orange">Nos évenements à venir</h1>
  <h2 class="text-xl text-center font-poppins text-dark-charcoal">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </h2>
</div>